# Backdate commit script
backdate_commit.bat

# Visual Studio files
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.log

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio Code
.vscode/

# JetBrains Rider
.idea/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/